.vscode*/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
extensions.js
webpack.config.js
src/
view/
imgs/screenshots/
node_modules/
!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
!node_modules/@vscode/codicons/dist/
!node_modules/yosysjs/dist/yosys.wasm
